<ActionBar class="action-bar">
	<Label class="action-bar-title" text="Support"></Label>
	<ActionItem *ngIf="platformIOS" ios.position="left" text="Back" class="crm-back-button"
				(tap)="onBackButtonTap()"></ActionItem>
	<NavigationButton *ngIf="platformAndroid" android.systemIcon="ic_menu_back" class="crm-back-button"
					  (tap)="onBackButtonTap()"></NavigationButton>
	<NavigationButton *ngIf="platformIOS" visibility="collapsed"></NavigationButton>
</ActionBar>
<GridLayout  *ngIf="!_sharedService.homeLoading">
	<GridLayout class="page">
		<GridLayout class="content" columns="*,*" rows="auto, *">

			<StackLayout row="0" colspan="2" class="m-t-20 m-l-15 m-r-15" orientation="vertical"
						 horizontalAlignment="center">
				<Label text="Need help? Contact support."
					   textAlignment="center"
					   textWrap="true"
					   class="m-b-15 title"></Label>
				<Button text="&#xf098; Phone Support" (tap)="phoneSupport()"
						class="fa rounded-corners btn btn-primary btn-active"></Button>
				<Button text="&#xf003; Email Support" (tap)="sendEmail()"
						class="fa rounded-corners btn btn-primary btn-active"></Button>
				<Button text="&#xf021; Reload Vehicle Codes" (tap)="reloadApplication()"
						class="fa rounded-corners btn btn-primary btn-active"></Button>

			</StackLayout>

			<stack-layout row="1" col="0" colspan="1"horizontalAlignment="center" verticalAlignment="bottom">
				<label marginBottom="30px"  color="black" text="{{version}}"></label>
			</stack-layout>
			<stack-layout row="1" col="1" colspan="1"horizontalAlignment="center" verticalAlignment="bottom">
				<label marginBottom="30px" (tap)="openPrivacyPolicy()" color="black" text="Privacy Policy"></label>
			</stack-layout>
		</GridLayout>
	</GridLayout>
</GridLayout>
