
.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.ic {
  font-family: icomoon;
}

.action-bar-title {
  font-size: 19;
  color: white;
	text-align: center;
	horizontal-align:center;
}

ActionBar Label{
	text-align:center;
	horizontal-align:center;
}

.details {
  font-size: 16;
  background: #333;
  color: #fff;
  margin-bottom: 30;
  padding-top: 15;
  padding-bottom: 13;
}

.bold {
  font-weight: bold;
  color: #a4d34e;
}

.btn-car {
  font-size: 40;
  width: 60;
  height: 60;
  color: #fff;
  padding-top: 12;
  background-color: #a4d34e;
  vertical-align: center;
  horiz-align: center;
  border-radius: 100%;
}
.desc{
  text-transform: uppercase;
}

.background-light {
	background-color: #eee;
}

.background-dark {
	background-color: #e6e6e6;
}

.imageButton{
	font-size: 20px;
	color: white;
	padding: 20px;
	opacity: 0.6;
}

#slider {
	/*height: 350px;
    overflow: hidden;
    width: 100%;*/
}

.carousel-item {
	height: 350px;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.carousel-indicators {
	bottom: -50px;
}

body {
	background-color: lightslategray;
}


