<ActionBar class="action-bar">
	<Label class="action-bar-title" text="VMG Mobile"></Label>
	<ActionItem *ngIf="platformIOS" ios.position="left" text="Back" class="crm-back-button"
				(tap)="onBackButtonTap()"></ActionItem>
	<NavigationButton *ngIf="platformAndroid" android.systemIcon="ic_menu_back" class="crm-back-button"
					  (tap)="onBackButtonTap()"></NavigationButton>
	<NavigationButton *ngIf="platformIOS" visibility="collapsed"></NavigationButton>
	<ActionItem ios.systemIcon="9" ios.position="right" android.position="actionBar" android.systemIcon="ic_menu_share"
				(tap)="share()"></ActionItem>
</ActionBar>

<GridLayout class="page page-content">
	<ScrollView>
		<GridLayout class="page">
			<CardView class="cardStyle" margin="10" elevation="20" ios:radius="8" android:radius="40">
				<GridLayout class="content">

					<GridLayout rows="auto, auto, auto">
						<div>

							<ScrollView orientation="horizontal" (loaded)="onScrollLoaded($event)"
										(scroll)="onScroll($event)" style="background-color: white" scrollBarIndicatorVisible="false">
								<StackLayout orientation="horizontal" class="list-group" height="400">
									<GridLayout *ngFor="let item of _car?.imageUrls" (tap)="onTap($event)"
												rows="*, auto" columns="350" class="list-group-item m-15 active"
												style="background-color: white">
										<Image row="0" rowSpan="2" [src]="item" stretch="{{myAspec}}"></Image>
										<StackLayout row="1" col="0" class="list-group-item" opacity="0.7"
													 backgroundColor="gray" color="black" stretch="{{myAspec}}">
											<Label class="list-group-item-text" [text]="'Make: '+ _car?.make"
												   opacity="1" color="white"></Label>
											<Label class="list-group-item-text" [text]="'Model: '+ _car?.model"
												   opacity="1" color="white"></Label>
											<Label class="list-group-item-text"
												   [text]="'Year: '+ _car?.year + '&nbsp;&nbsp;&nbsp;' + 'Mileage: ' + _car?.mileage + '&nbsp;Km'"
												   opacity="1" color="white"></Label>
										</StackLayout>
									</GridLayout>
								</StackLayout>
							</ScrollView>

							<GridLayout row="2"
										rows="auto,auto,auto,auto,auto"
										columns="*, *, *">
								<Label
									[text]=" _car?.sellingPrice | currency:'R':'symbol':'1.0'| space"
									class="m-b-15"
									colspan="3"
									verticalAlignment="center"
									style="font-size: 28px; color: #448744"
									horizontalAlignment="center"
									row="0"></Label>
								<Label row="1" colSpan="3" horizontalAlignment="center" width="100%"
									   style="font-size: 20px; border-bottom-color : #448744; border-bottom-width: 6px; text-align: center;">
								</Label>
								<Label text="Stock code"
									   class="p-l-15 p-b-10 p-t-10 m-r-20 text-secondary background-light"
									   row="2"
									   colSpan="2"></Label>
								<Label id="stockcode"
									   name="stockcode"
									   [text]="_car?.stockCode"
									   row="2"
									   col="1"
									   colspan="2"
									   class="text p-b-10 p-t-10 background-light"
									   width="100%"
									   textWrap="true"></Label>
								<Label text="Colour"
									   class="p-l-15 p-b-10 p-t-10 m-r-20 text-secondary background-light"
									   row="3"
									   colSpan="2"></Label>
								<Label id="colour"
									   name="colour"
									   [text]="_car?.colour"
									   row="3"
									   col="1"
									   colspan="2"
									   class="text p-b-10 p-t-10 background-light"
									   width="100%"
									   textWrap="true"></Label>
								<Label text="Condition"
									   class="p-l-15 p-b-10 p-t-10 m-r-20 text-secondary background-dark"
									   row="4"
									   colSpan="2"></Label>
								<Label id="condition"
									   name="condition"
									   [text]="_car?.condition"
									   row="4"
									   col="1"
									   colspan="2"
									   class="text p-b-10 p-t-10 background-dark"
									   width="100%"
									   textWrap="true"></Label>
							</GridLayout>
						</div>
					</GridLayout>
				</GridLayout>
			</CardView>
		</GridLayout>
	</ScrollView>
	<FilterableListpicker #myfilter blur="dark" hintText="Type to filter..." [source]="allLeads" (itemTapped)="itemTapped($event)"></FilterableListpicker>
</GridLayout>

