<ActionBar class = "action-bar">
	<Label class = "action-bar-title"
		   text = "{{scannedDiscTitle}}"></Label>
	<ActionItem *ngIf = "platformIOS"
				ios.position = "left"
				text = "Back"
				class = "crm-back-button"
				(tap) = "onBackButtonTap()"></ActionItem>
	<NavigationButton *ngIf = "platformAndroid"
					  android.systemIcon = "ic_menu_back"
					  class = "crm-back-button"
					  (tap) = "onBackButtonTap()"></NavigationButton>
	<NavigationButton *ngIf = "platformIOS"
					  visibility = "collapsed"></NavigationButton>
</ActionBar>
<ScrollView>

	<GridLayout class="page">
		<GridLayout class="content">
			<CardView class="cardStyle" margin="10" elevation="20" ios:radius="8" android:radius="40">
				<StackLayout class = "p-20"
							 orientation = "vertical">
					<div>
						<Label text = "Make"
							   class = "p-l-10 p-t-10 text-label grey-text"
							   row = "1"></Label>
						<TextField id = "make"
								   name = "make"
								   [text] = "_scannerService?.decodedDisc?.make"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   editable = "false"
								   returnKeyType = "next"
								   row = "1"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5"
								   width = "99%"
								   textWrap = "true"></TextField>
						<Label text = "Model Description"
							   class = "p-l-10 p-t-10 text-label grey-text"
							   row = "2"></Label>
						<TextField id = "model"
								   [text] = "_scannerService?.decodedDisc?.model"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   editable = "false"
								   returnKeyType = "next"
								   name = "model"
								   row = "2"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5"
								   width = "99%"
								   textWrap = "true"></TextField>
						<Label text = "Model"
							   class = "p-l-10 p-t-10 text-label grey-text"
							   row = "3"></Label>
						<TextField id = "description"
								   [text] = "_scannerService?.decodedDisc?.variant"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   editable = "false"
								   returnKeyType = "next"
								   name = "description"
								   row = "3"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5"
								   width = "99%"
								   textWrap = "true"></TextField>
						<Label text = "MM Code"
							   class = "p-l-10 p-t-10 text-label grey-text"
							   row = "4"></Label>
						<TextField id = "mmcode"
								   [text] = "_scannerService?.decodedDisc?.mmCode"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   editable = "false"
								   name = "mmcode"
								   row = "4"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5 light-grey-background"
								   width = "99%"
								   textWrap = "true"></TextField>
						<Label text = "Engine"
							   class = "p-l-10 p-t-10 text-label grey-text"
							   row = "5"></Label>
						<TextField id = "engine"
								   [text] = "_scannerService?.decodedDisc?.engineNumber"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   editable = "false"
								   name = "engine"
								   row = "5"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5"
								   width = "99%"
								   textWrap = "true"></TextField>
						<Label text = "Vin"
							   class = "p-l-10 p-t-10 text-label grey-text"
							   row = "6"></Label>
						<TextField id = "vin"
								   [text] = "_scannerService?.decodedDisc?.vin"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   editable = "false"
								   name = "vin"
								   row = "6"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5"
								   width = "99%"
								   textWrap = "true"></TextField>
						<Label text = "&#xf044; Year (tap to select)"
							   class = "p-l-10 p-t-10 text-label fa grey-text"
							   row = "7"
							   (onTap) = "changeYear()"></Label>
						<TextField id = "year"
								   [text] = "_scannerService?.decodedDisc?.year"
								   editable = "false"
								   [(ngModel)] = "_scannerService.decodedDisc.year"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   (onTap) = "changeYear()"
								   name = "year"
								   row = "7"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5"
								   width = "99%"></TextField>
						<Label text = "&#xf044; Mileage"
							   class = "p-l-10 p-t-10 text-label fa grey-text"
							   row = "8"></Label>
						<TextField id = "mileage"
								   [text] = "_scannerService?.decodedDisc?.mileage"
								   [(ngModel)] = "_scannerService.decodedDisc.mileage"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   name = "mileage"
								   row = "8"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5"
								   width = "99%"
								   textWrap = "true"
								   keyboardType = "phone"></TextField>
						<Label text = "&#xf044; Condition (tap to select)"
							   class = "p-l-10 p-t-10 text-label fa grey-text"
							   row = "9"
							   (onTap) = "changeCondition()"></Label>
						<TextField id = "condition"
								   [text] = "_scannerService?.decodedDisc?.condition"
								   editable = "false"
								   [(ngModel)] = "_scannerService.decodedDisc.condition"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   (onTap) = "changeCondition()"
								   name = "condition"
								   row = "9"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5 grey-text"
								   width = "99%"
								   textWrap = "true"></TextField>
						<Label text = "TU Retail"
							   class = "p-l-10 p-t-10 text-label grey-text"
							   row = "10"></Label>
						<TextField id = "retail"
								   [text] = "_scannerService?.decodedDisc?.retailPrice | currency:'R':'symbol':'1.0-2' | space"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   editable = "false"
								   name = "retail"
								   row = "10"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5 grey-text light-grey-background"
								   width = "99%"
								   textWrap = "true"></TextField>
						<Label text = "TU Trade"
							   class = "p-l-10 p-t-10 text-label grey-text"
							   row = "11"></Label>
						<TextField id = "trade"
								   [text] = "_scannerService?.decodedDisc?.tradePrice | currency:'R':'symbol':'1.0-2' | space"
								   (focus)="TextFieldFocus($event)"
								   (blur)="TextFieldFocusLost($event)"
								   editable = "false"
								   name = "retail"
								   row = "11"
								   col = "1"
								   class = "text-input m-l-5 p-b-11 p-l-5 grey-text light-grey-background"
								   width = "99%"
								   textWrap = "true"></TextField>
						<GridLayout *ngIf = "!loading"
									columns = "*, *"
									rows = "*,*">
							<Button class = "btn btn-primary btn-active"
									text = "Check TU"
									row = "0"
									col = "0"
									colspan = "2"
									style = "border-radius: 15px;"
									(tap) = "postToTransunion()"></Button>
							<Button class = "btn btn-primary btn-active"
									text = "Cancel"
									row = "1"
									col = "0"
									style = "border-radius: 15px;"
									(tap) = "cancel()"></Button>
							<Button class = "btn btn-primary btn-active"
									text = "Submit"
									row = "1"
									col = "1"
									style = "border-radius: 15px;"
									(tap) = "submitStock()"></Button>
						</GridLayout>
					</div>

				</StackLayout>
			</CardView>
	</GridLayout>
	</GridLayout>
</ScrollView>
