TabView {
	tab-text-color: #D5D5D5;
	selected-tab-text-color: #fff;
	tab-background-color: #448744;
	android-selected-tab-highlight-color: transparent;
}

.yearLabel {
	padding-bottom: 50px;
}

.action-bar-title {
	font-size: 19;
	color: white;
	text-align: center;
	horizontal-align:center;
}

ActionBar Label{
	text-align:center;
	horizontal-align:center;
}

.add-icon {
  font-size: 35px;
  color: white;
}

