<ActionBar class="action-bar">
	<Label class="action-bar-title" text=" Add Lead"></Label>
	<ActionItem *ngIf="platformIOS" ios.position="left" text="Back" class="crm-back-button"
				(tap)="onBackButtonTap()"></ActionItem>
	<NavigationButton *ngIf="platformAndroid" android.systemIcon="ic_menu_back" class="crm-back-button"
					  (tap)="onBackButtonTap()"></NavigationButton>
	<NavigationButton *ngIf="platformIOS" visibility="collapsed"></NavigationButton>
	<ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right"
				(tap)="onLeadAdd()"></ActionItem>

</ActionBar>

<GridLayout class="page">
	<GridLayout class="content">
		<TabView id="tabViewContainer" [(ngModel)]="tabSelectedIndex" androidOffscreenTabLimit="0"
				 (swipe)="onSwipe($event)"
				 androidSelectedTabHighlightColor="white">

			<StackLayout *tabItem="{title: 'Contact Details'}" class="background" style="height: auto">
				<CardView class="cardStyle" margin="10" elevation="20" ios:radius="8" android:radius="40">
					<StackLayout class="form-padding" style="height: auto">
						<Label text="Add personal and contact details" class="subheader" textAlignment="center"
							   textWrap="true"
							   textAlignment="center"
							   style="text-align:center; color: black"
							   width="100%"
							   fontSize="16"
							   marginTop="10px"
							   row="0"></Label>
						<FloatLabel placeholder="Name" [(text)]="firstname"></FloatLabel>
						<FloatLabel placeholder="Last Name" [(text)]="lastname"></FloatLabel>
						<FloatLabel placeholder="Cellphone" [(text)]="cellphoneNumber"></FloatLabel>
						<FloatLabel placeholder="Email" [(text)]="emailAddress"></FloatLabel>
					</StackLayout>
				</CardView>

			</StackLayout>

			<StackLayout *tabItem="{title: 'Location'}" class="background" style="height: auto">
				<CardView class="cardStyle" margin="10" elevation="20" ios:radius="8" android:radius="40">
					<StackLayout class="form-padding" style="height: auto">

							<Label text="Add location details" class=" m-l-10 subheader" textAlignment="center"
								   marginTop="10px"
								   style="text-align:center; color: black"
								   width="100%"
								   fontSize="16"
								   marginTop="10px"
								   row="0"></Label>

						<FloatLabel placeholder="AddressLine 1" [(text)]="addressLine1"></FloatLabel>
						<FloatLabel placeholder="AddressLine 2" [(text)]="addressLine2"></FloatLabel>
						<FloatLabel placeholder="AddressLine 3" [(text)]="addressLine3"></FloatLabel>
						<FloatLabel placeholder="Region (tap to select)" [isEditable]="false" [(text)]="region" (tap)="changeRegion()" ></FloatLabel>

					</StackLayout>
				</CardView>

			</StackLayout>

			<StackLayout *tabItem="{title: 'Vehicle Details'}" class="background">
				<CardView class="cardStyle" margin="10" elevation="20" ios:radius="8" android:radius="40">

					<StackLayout class="form-padding">


							<Label text="Add vehicle details" class=" m-l-10 subheader" textAlignment="center"
								   marginTop="10px"
								   style="text-align:center; color: black"
								   width="100%"
								   fontSize="16"
								   marginTop="10px"
								   row="0"></Label>
						<ScrollView height="100%" scrollBarIndicatorVisible="false">
							<StackLayout>
								<FloatLabel placeholder="Category (tap to select)" [isEditable]="false" [(text)]="category" (tap)="changeCategory()"></FloatLabel>
								<FloatLabel placeholder="Make (tap to select)" [isEditable]="false" [(text)]="make" (tap)="changeMake()"></FloatLabel>
								<FloatLabel placeholder="Model Description (tap to select)" [isEditable]="false" [(text)]="model" (tap)="changeModel()"></FloatLabel>
								<FloatLabel placeholder="Model (tap to select)" [isEditable]="false" [(text)]="variant" (tap)="changeVariant()"></FloatLabel>
								<FloatLabel placeholder="Year (tap to select)" [isEditable]="false" [(text)]="year" (tap)="changeYear()"></FloatLabel>
								<FloatLabel placeholder="Price" [keyboardNumberFormat]="true" [(text)]="price"></FloatLabel>
								<FloatLabel placeholder="Colour" [(text)]="colour"></FloatLabel>

								<Label text="Clear"
									   row="15"
									   class="btn btn-active"
									   textAlignment="center" horizontalAlignment="right" verticalAlignment="bottom"
									   marginRight="5vw" (tap)="clearVehicleDetails()"></Label>
							</StackLayout>
						</ScrollView>

					</StackLayout>
				</CardView>
			</StackLayout>
		</TabView>
	</GridLayout>
	<FilterableListpicker #vehicleDetailsFilter blur="dark" hintText="Type to filter..." [source]="listItems"
						  (itemTapped)="vehicleDetailsFilterSelected($event)"></FilterableListpicker>
	<FilterableListpicker #modelDetailsFilter blur="dark" hintText="Type to filter..." [source]="listItems"
						  (itemTapped)="vehicleDetailsFilterSelected($event)"></FilterableListpicker>
</GridLayout>




