//.action-bar {
//    background: #a4d34e;
//}
//
//.btn-crm {
//    background: #97c824;
//}
//
//.crm-title {
//    font-size: 19;
//    color: #333;
//}

.add-icon {
    font-size: 35px;
    color: #fff;
	text-align: right;
	horizontal-align: right;
}

.action-bar-title {
	font-size: 19;
	color: white;
	text-align: center;
	horizontal-align:center;
}

.heading{
	text-align:center;
	horizontal-align:center;
}

//.text-primary {
//    color: #333;
//    font-size: 18;
//}
//
//.text-price {
//    color: #97c824;
//    font-size: 18;
//}
//
//.swipeTemplateLabelRight {
//    background: #97c824;
//    height: 100%;
//    color: #fff;
//    vert-align: middle;
//    horiz-align: center;
//    padding: 26 20;
//    font-size: 35;
//}
//
//.swipeTemplateLabelLeft {
//    background: #484649;
//    height: 100%;
//    color: #a4d34e;
//    vert-align: middle;
//    horiz-align: center;
//    padding: 26 20;
//    font-size: 35;
//}
//.swipeTemplateLabelRight-second {
//    background: #2882c7;
//    height: 100%;
//    color: #fff;
//    vert-align: middle;
//    horiz-align: center;
//    padding: 26 20;
//    font-size: 35;
//}
