<ActionBar class="action-bar" xmlns:ios="http://www.w3.org/1999/xhtml" xmlns:ios="http://www.w3.org/1999/xhtml">
	<Label class="action-bar-title" text="Leads ({{totalLeads}})"></Label>
	<ActionItem *ngIf="platformIOS" ios.position="left" text="Back" class="crm-back-button"
				(tap)="onBackButtonTap()"></ActionItem>
	<NavigationButton *ngIf="platformAndroid" android.systemIcon="ic_menu_back" class="crm-back-button"
					  (tap)="onBackButtonTap()"></NavigationButton>
	<NavigationButton *ngIf="platformIOS" visibility="collapsed"></NavigationButton>

	<ActionItem ios.systemIcon="4" android.systemIcon="ic_menu_add" ios.position="right"
				(tap)="onAddLeadTap()"></ActionItem>
</ActionBar>

<GridLayout class="page ">
	<GridLayout class="content">
		<StackLayout class="page page-content m-t-0" orientation="vertical">
			<div *ngIf="isLoading">

				<ActivityIndicator #activityIndicator busy="{{isLoading}}" width="100" height="100"
								   class="activity-indicator"></ActivityIndicator>

				<Label class="page-placeholder"
					   text="Fetching leads ..."
					   row="1"></Label>
			</div>

			<stack-layout *ngIf="!isLoading" >
				<grid-layout rows="50" columns="*, auto" class="search-field-container">
					<TextField hint="Filter leads" col="0"
                               #leadsSearchBox
							   class="filterTextBox no-padding-top-no-padding-bottom"
							   color="black"
							   (textChange)="onFilterTextChanged($event, myListView)"
							   backgroundColor="white"></TextField>

					<label text="X" backgroundColor="transparent"
						   class="filterTextBoxLabel"
						   textWrap="true"
						   horizontalAlignment="right"
						   verticalAlignment="center"
						   col="0"
						   (tap)="onClear(leadsSearchBox)"></label>

				</grid-layout>

				<Label class="page-placeholder" *ngIf="!isLoading && leadsOnView.length === 0"
					   text="No leads found"></Label>
				<scroll-view height="100%">

					<GridLayout class="page page-content"
								height="100%"
								rows="auto, *, auto"
								tkExampleTitle
								tkToggleNavButton>

						<RadListView #myListView

									 [items]="leadsOnView" row="1"
									 selectionBehavior="None" pullToRefresh="true"
									 (pullToRefreshInitiated)="refreshList($event)"
									 swipeActions="true"
									 (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
									 (itemTap)="onCrmItemTap($event)"
									 (itemLoading)="onLeadsLoading($event)"
									 (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
									 loadOnDemandMode="{{loadingMode}}" class="list-group">

							<ng-template
								kListItemTemplate
								let-lead="item">
								<CardView margin="8" elevation="18" ios:radius="8" android:radius="40">
									<StackLayout
										col="1"
										class="list-group-item" margin="5">
										<Gridlayout columns="auto,*" class="min-height list-group-item-content">
											<Stacklayout col="0">
												<Label
													[text]="lead?.firstname + ' ' + lead?.lastname"
													textWrap="false"
													class="p-t-10 p-l-15 p-b-0 text-primary font-weight-bold"
													style="font-size: 18px"></Label>
											</Stacklayout>
										</Gridlayout>
										<StackLayout class="p-l-0 p-t-0 p-b-10">
											<Label textWrap="true"
												android:fontFamily="icomoon"
												ios:fontFamily="icomoon"
												class="p-t-5 p-l-15 p-b-5"
												[text]="'&#xe94d; ' + lead?.cellphoneNumber + ' ' + ' &#xf2b6; ' + lead?.emailAddress"></Label>
											<Label *ngIf="showVehicleDetails(lead);else showErrorMakesTemplate" class="p-t-0 p-l-15 p-b-5"
												   android:fontFamily="icomoon"
												   ios:fontFamily="icomoon"
												   [text]="'&#xe911; ' + lead?.make + ' ' + lead?.model"></Label>
											<ng-template #showErrorMakesTemplate>
												<label class="p-t-0 p-l-15 p-b-5"
													   style="color: red"
													   android:fontFamily="icomoon"
													   ios:fontFamily="icomoon"
													   [text]="'&#xe911; ' + 'Invalid MMcode'">
												</label>
											</ng-template>
											<Label *ngIf="showLocationDetails(lead)" class="p-t-0 p-l-15 p-b-5"
												   android:fontFamily="icomoon"
												   ios:fontFamily="icomoon"
												   [text]="'&#xe911; ' + lead?.region"></Label>
										</StackLayout>
									</StackLayout>

								</CardView>
							</ng-template>

							<GridLayout *tkListItemSwipeTemplate columns="*,auto" class="gridLayoutLayout">
								<StackLayout orientation="horizontal" id="share-view" col="1"
											 height="100%" verticalAlignment="center" class="">
									<Label text="&#xe94c;" android:fontFamily="icomoon"
										   ios:fontFamily="icomoon" (tap)="onRightSwipeClick($event)"
										   class="" verticalAlignment="center" horizontalAlignment="center"
										   style="font-size: 45px; color: #03E676; margin-right: 20px"></Label>
									<Label text="&#xf0e5;" class="font-awesome swipeTemplateLabelRight"
										   verticalAlignment="center" horizontalAlignment="center"
										   style="font-size: 45px; margin-right: 20px;font-family: FontAwesome"
										   (tap)="sendSms($event)"></Label>
									<Label text="&#xf2b6;" android:fontFamily="icomoon"
										   ios:fontFamily="icomoon" class="" verticalAlignment="center"
										   horizontalAlignment="center" style="font-size: 45px; margin-right: 20px"
										   (tap)="sendEmail($event)"></Label>
									<Label text="&#xe94d;" android:fontFamily="icomoon"
										   ios:fontFamily="icomoon" class="" verticalAlignment="center"
										   horizontalAlignment="center" style="font-size: 45px; margin-right: 20px"
										   (tap)="onLeftSwipeClick($event)"></Label>
								</StackLayout>
							</GridLayout>

						</RadListView>
					</GridLayout>
				</scroll-view>
			</stack-layout>

		</StackLayout>

	</GridLayout>
</GridLayout>
