<ActionBar class = "action-bar">
	<Label class = "action-bar-title"
		   text = "Showroom ({{totalCars}})"></Label>
	<ActionItem *ngIf = "platformIOS"
				ios.position = "left"
				text = "Back"
				class = "crm-back-button"
				(tap) = "onBackButtonTap()"></ActionItem>
	<NavigationButton *ngIf = "platformAndroid"
					  android.systemIcon = "ic_menu_back"
					  class = "crm-back-button"
					  (tap) = "onBackButtonTap()"></NavigationButton>
	<NavigationButton *ngIf = "platformIOS"
					  visibility = "collapsed"></NavigationButton>
</ActionBar>
<GridLayout class="page">
	<GridLayout class="content">
		<StackLayout orientation = "vertical">
			<div *ngIf="isLoading">

				<ActivityIndicator #activityIndicator busy="{{isLoading}}" width="100" height="100"
								   class="activity-indicator"></ActivityIndicator>

				<Label class="page-placeholder"
					   text="Fetching Vehicles ..."
					   row="1" style="color: black"></Label>
			</div>
			<stack-layout>
					<grid-layout rows="50" columns="*, auto" class="search-field-container" *ngIf="!isLoading">
						<TextField hint = "Filter vehicles" col="0" padding="10px"
								   #leadsSearchBox
								   class="filterTextBox"
								   color = "black"
								   (textChange)="onFilterTextChanged($event)"
								   backgroundColor = "white"></TextField>

						<label text="X" backgroundColor="transparent"
							   class="filterTextBoxLabel"
							   textWrap="true"
							   horizontalAlignment="right"
							   verticalAlignment="center"
							   col="0"
							   (tap)="onClear(leadsSearchBox)"></label>

					</grid-layout>

				<Label class = "page-placeholder"
					   *ngIf="!isLoading && carsOnView.length === 0"
					   text = "No vehicles found"></Label>

				<ScrollView height = "100%" scrollBarIndicatorVisible="false" *ngIf="!isLoading">
					<GridLayout *ngIf = "notRefreshing"
								class = "page page-content"
								height = "100%">
						<PullToRefresh (refresh)="refreshList($event)">
							<ListView
								[items] = "carsOnView"
								(itemTap) = "onCarItemTap($event)"
								(loadMoreItems) = "onLoadMoreItemsRequested($event)"
								class = "list-group "
								style="min-height: 100%;">
								<ng-template
									let-car = "item">
									<CardView  style="background-color: #F0F0F0" margin="8" elevation="15" ios:radius="8" android:radius="40">
										<StackLayout class = "list-group-item" margin="5" style="border-radius: 25px;">
											<GridLayout rows = "*, *, *, *"
														columns = "*, *, *"
														class = "list-group-item-content">
												<div>
													<Image col = "0"
														   row = "0"
														   rowSpan = "3"
														   [src] = "car?.thumbNail"
														   (loaded)="onImageLoaded($event, car?.thumbNail, car)"
														   height = "100"
														   stretch="aspectFill"
														   loadMode="async"
														   style = "border-color : #448744; border-width: 2px; margin-right: 15px"></Image>
													<Label col = "1"
														   row = "0"
														   colSpan = "2"
														   [text] = "car?.make + ' ' + car?.model + ' (' + car?.stockCode + ')'"
														   width = "100%"
														   textWrap = "true"
														   class = "text-primary font-weight-bold" style="color: black"></Label>
													<Label col = "1"
														   row = "1"
														   colSpan = "2"
														   [text] = "car?.sellingPrice | currency:'R':'symbol':'1.0-2'| space"
														   width = "100%"
														   textWrap = "true"
														   class = "text-primary font-weight-bold"
														   style = "color: #448744"></Label>
													<Label class = "p-b-10"
														   row = "2"
														   col = "1"
														   colSpan = "2">
														<!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
														<FormattedString ios:fontFamily = "system">
					<Span text = "&#xf073; &nbsp;"
						  class = "fa text-primary"></Span>
															<Span [text] = "car?.year"
																  width = "100%"
																  textWrap = "true"></Span>
															<Span text = "&nbsp;&nbsp;"
																  width = "100%"
																  textWrap = "true"></Span>
															<Span text = "&nbsp;"></Span>
															<Span text = "&#xf1b9; &nbsp;"
																  class = "fa text-primary"></Span>
															<Span [text] = "car?.mileage"
																  width = "100%"
																  textWrap = "true"></Span>
															<Span text = " Km&nbsp;&nbsp;"
																  width = "100%"
																  textWrap = "true"></Span>
														</FormattedString>
													</Label>
												</div>
											</GridLayout>
										</StackLayout>
									</CardView>
								</ng-template>
							</ListView>
						</PullToRefresh>

					</GridLayout>
				</ScrollView>
			</stack-layout>
		</StackLayout>
	</GridLayout>
</GridLayout>
