// Start custom common variables
@import '../../app-variables';
// End custom common variables

// Custom styles

.carlist {
  color: #eee;
}
list-group-item-content{
	background-color: white;
	border-bottom-color: black;
	border-bottom-width: 5px;
}


.crm-title {
	font-size: 19;
	color: #333;
	text-align: center;
	horizontal-align: center;
}

ActionBar Label {
	text-align: center;
	horizontal-align: center;
}

.add-icon {
  font-size: 28;
  color: #fff;
}

.text-primary {
  color: #666;
  font-size: 18;
}

.carmake {
  font-size: 18;
  color: #eee;
  font-weight: bold;
  width: 50%;
}

.price {
  font-size: 18;
  color: #a4d34e;
  width: 50%;
}

.desc {
  width: 50%;
  padding: 2 0;

}

.listItem {

}

.listModel {
  font-size: 15;
  font-style: italic;

}

.ic {
  font-family: icomoon;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}
