<RadSideDrawer [drawerTransition] = "sideDrawerTransition">
    <GridLayout tkDrawerContent rows = "auto, *" class = "sidedrawer sidedrawer-left">
        <StackLayout class = "p-t-30 p-b-15" orientation = "vertical">
            <Image src="~/images/vmobile.png" stretch = "aspectFill" class = "thumb"  width = "130" height = "130"></Image>
            <Label class = "sidedrawer-header-brand m-t-10" text = "{{name}}" style = "color: #fff; font-size: 18px" horizontalAlignment = "center"></Label>
         </StackLayout>
        <ScrollView row = "1">
            <StackLayout class = "sidedrawer-content">
                <GridLayout columns = "auto, *" class = "sidedrawer-list-item" [class.selected] = "isComponentSelected('/home')" (tap) = "onNavItemTap('/home')">
                    <Label col = "0" text = "&#xf015;" class = "fa"></Label>
                    <Label col = "1" text = "Home" class = "p-r-10 side-menu-text-size-android"></Label>
                </GridLayout>
				<GridLayout columns = "auto, *" class = "sidedrawer-list-item" [class.selected] = "isComponentSelected('/showroom')" (tap) = "onNavItemTap('/showroom')">
					<Label col = "0" text = "&#xf1b9;" class = "fa"></Label>
					<Label col = "1" text = "Showroom" class = "p-r-10 side-menu-text-size-android"></Label>
				</GridLayout>
                <GridLayout columns = "auto, *" class = "sidedrawer-list-item" [class.selected] = "isComponentSelected('/crm')" (tap) = "onNavItemTap('/crm')">
                    <Label col = "0" text = "&#xf0c0;" class = "fa"></Label>
                    <Label col = "1" text = "Leads" class = "p-r-10 side-menu-text-size-android"></Label>
                </GridLayout>
                <GridLayout columns = "auto, *" class = "sidedrawer-list-item" [class.selected] = "isComponentSelected('/scanned-disc')" (tap) = "onNavItemTap('/scanned-disc')">
                    <Label col = "0" text = "&#xf02a;" class = "fa"></Label>
                    <Label col = "1" text = "Scanner" class = "p-r-10 side-menu-text-size-android"></Label>
                </GridLayout>
				<GridLayout columns = "auto, *" class = "sidedrawer-list-item" [class.selected] = "isComponentSelected('/transunion-pricing')" (tap) = "onNavItemTap('/transunion-pricing')">
					<Label col = "0" text = "&#xf002;" class = "fa"></Label>
					<Label col = "1" text = "TransUnion Values" class = "p-r-10 side-menu-text-size-android"></Label>
				</GridLayout>
                <StackLayout class = "hr-light"></StackLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/support')" (tap)="onNavItemTap('/support')">
                    <Label col="0" text="&#xf1cd;" class="fa"></Label>
                    <Label col="1" text="Support" class="p-r-10 side-menu-text-size-android"></Label>
                </GridLayout>
				<GridLayout *ngIf="!needToLogIn" columns="auto, *" class="sidedrawer-list-item"  (tap)="signOut()">
					<Label col="0" text="&#xf08b;" class="fa"></Label>
					<Label col="1" text="Sign out" class="p-r-10 side-menu-text-size-android"></Label>
				</GridLayout>
            </StackLayout>
        </ScrollView>
		<StackLayout horizontalAlignment="center" verticalAlignment="bottom" style="margin-bottom: 0">
			<label color="white" text="{{version}}"></label>
		</StackLayout>
    </GridLayout>
    <page-router-outlet tkMainContent class = "page page-content">
    </page-router-outlet>
</RadSideDrawer>
