<ActionBar class="action-bar">
	<ActionItem *ngIf="platformIOS"
				ios.position="left"
				text="Back"
				class="crm-back-button"
				(tap)="onBackButtonTap()"></ActionItem>
	<NavigationButton *ngIf="platformAndroid"
					  android.systemIcon="ic_menu_back"
					  class="crm-back-button"
					  (tap)="onBackButtonTap()"></NavigationButton>
	<NavigationButton *ngIf="platformIOS"
					  visibility="collapsed"></NavigationButton>
	<ActionItem ios.systemIcon="16"
				android.systemIcon="ic_menu_delete"
				ios.position="right"
				(tap)="deleteLead()"></ActionItem>
	<ActionItem ios.systemIcon="3"
				android.systemIcon="ic_menu_save"
				ios.position="right"
				(tap)="updateLead()"></ActionItem>
	<GridLayout columns="*,auto,auto">
		<StackLayout col="0">
			<Label textWrap="true"
				   textAlignment="center"
				   verticalAlignment="center"
				   horizontalAlignment="center"
				   [text]="lead.firstname + ' ' + lead.lastname"
				   class="crm-title action-bar-title icon"
				   top="8"></Label>
		</StackLayout>
	</GridLayout>
</ActionBar>
<GridLayout class="page">
	<GridLayout class="content">
		<TabView *ngIf=!_isLoading id="tabViewContainer"
				 [(ngModel)]="tabSelectedIndex"
				 androidOffscreenTabLimit="1"
				 (swipe)="onSwipe($event)"
				 androidSelectedTabHighlightColor="white">

			<StackLayout *tabItem="{title: 'Contact Details'}" class="background">
				<CardView class="cardStyle"  margin="10" elevation="20" ios:radius="8" android:radius="40">
					<StackLayout class="form-padding">
						<Label text="Add personal and contact details"
							   class=" m-l-10 subheader"
							   textAlignment="center" marginTop="10px"
							   textWrap="true"
							   textAlignment="center"
							   style="text-align:center; color: black"
							   width="100%"
							   fontSize="16"></Label>

						<FloatLabel placeholder="Name" [(text)]="lead.firstname"></FloatLabel>
						<FloatLabel placeholder="Last Name" [(text)]="lead.lastname"></FloatLabel>
						<FloatLabel placeholder="Cellphone" [(text)]="lead.cellphoneNumber"></FloatLabel>
						<FloatLabel placeholder="Email" [(text)]="lead.emailAddress"></FloatLabel>

					</StackLayout>
				</CardView>

			</StackLayout>
			<StackLayout *tabItem="{title: 'Location'}" class="background">
				<CardView class="cardStyle" margin="10" elevation="20" ios:radius="8" android:radius="40">


					<StackLayout class="form-padding">
						<Label text="Add location details" class=" m-l-10 subheader" textAlignment="center"
							   marginTop="10px"
							   textAlignment="center"
							   style="text-align:center; color: black"
							   width="100%"
							   fontSize="16"></Label>

						<FloatLabel placeholder="Address Line 1" [(text)]="lead.addressLine1"></FloatLabel>
						<FloatLabel placeholder="Address Line 2" [(text)]="lead.addressLine2"></FloatLabel>
						<FloatLabel placeholder="Address Line 3" [(text)]="lead.addressLine3"></FloatLabel>
						<FloatLabel placeholder="Region (tap to select)" [isEditable]="false" [(text)]="lead.region" (tap)="changeRegion()" ></FloatLabel>

					</StackLayout>
				</CardView>

			</StackLayout>
			<StackLayout *tabItem="{title: 'Vehicle Details'}" class="background">
				<CardView class="cardStyle" margin="10" elevation="20" ios:radius="8" android:radius="40">

					<StackLayout class="form-padding">
						<Label text="Add vehicle details"
							   textAlignment="center"
							   marginTop="10px"
							   textAlignment="center"
							   style="text-align:center; color: black"
							   width="100%"
							   fontSize="16" class="subheader"></Label>
						<ScrollView height="100%" scrollBarIndicatorVisible="false">
							<StackLayout>
								<FloatLabel placeholder="Category (tap to select)" [isEditable]="false" [(text)]="category" (tap)="changeCategory()"></FloatLabel>
								<FloatLabel placeholder="Make (tap to select)" [isEditable]="false" [(text)]="lead.make" (tap)="changeMake()"></FloatLabel>
								<FloatLabel placeholder="Model Description (tap to select)" [isEditable]="false" [(text)]="lead.model" (tap)="changeModel()"></FloatLabel>
								<FloatLabel placeholder="Model (tap to select)" [isEditable]="false" [(text)]="lead.variant" (tap)="changeVariant()"></FloatLabel>
								<FloatLabel placeholder="Year (tap to select)" [isEditable]="false" [(text)]="lead.year" (tap)="changeYear()"></FloatLabel>
								<FloatLabel placeholder="Price" [keyboardNumberFormat]="true" [(text)]="lead.price"></FloatLabel>
								<FloatLabel placeholder="Colour" [(text)]="lead.colour"></FloatLabel>

								<Label text="Clear"
									   row="15"
									   class="btn btn-active"
									   textAlignment="center" horizontalAlignment="right" verticalAlignment="bottom"
									   marginRight="5vw" (tap)="clearVehicleDetails()"></Label>
							</StackLayout>
						</ScrollView>

					</StackLayout>
				</CardView>

			</StackLayout>

		</TabView>
	</GridLayout>
	<FilterableListpicker #vehicleDetailsFilter blur="dark" hintText="Type to filter..." [source]="listItems"
						  (itemTapped)="vehicleDetailsFilterSelected($event)"></FilterableListpicker>
	<FilterableListpicker #modelDetailsFilter blur="dark" hintText="Type to filter..." [source]="listItems"
						  (itemTapped)="vehicleDetailsFilterSelected($event)"></FilterableListpicker>
</GridLayout>
