TabView {
	tab-text-color: #D5D5D5;
	selected-tab-text-color: #fff;
	tab-background-color: #448744;
	android-selected-tab-highlight-color: transparent;
}
.crm-back-button{
	horizontal-align: left;
	color: white;
	font-weight: bold;


	content: ”;

	position: absolute;

	box-sizing: border-box;

	left: 11px;

	height: 27px;

	width: 26px;

	top: 8px;

	z-index: -2;


	border: 1px solid #000;

	border-top: 0 transparent;

	border-right: 0 transparent;

	border-radius: 7px 5px 5px 7px;


	-webkit-transform: rotate(45deg);
}


