<ActionBar class="action-bar">
	<Label class="action-bar-title"
		   text="TransUnion Values"></Label>
	<ActionItem *ngIf="platformIOS"
				ios.position="left"
				text="Back"
				class="crm-back-button"
				(tap)="onBackButtonTap()"></ActionItem>
	<NavigationButton *ngIf="platformAndroid"
					  android.systemIcon="ic_menu_back"
					  class="crm-back-button"
					  (tap)="onBackButtonTap()"></NavigationButton>
	<NavigationButton *ngIf="platformIOS"
					  visibility="collapsed"></NavigationButton>

	<ActionItem ios.position="right" >
		<Label text="Clear" class="fas" style="padding-right: 10vw" (tap)="clearAllSearchFields()"></Label>
	</ActionItem>
</ActionBar>


<!--	<Image src="~/images/transunion-banner-image.png" verticalAlignment="top" horizontalAlignment="center" stretch="aspectFit"></Image>-->
<GridLayout class="page">
	<GridLayout class="content">
<StackLayout class="page page-content m-t-0" orientation="vertical">
	<div *ngIf="_isLoading">
<!--		<ActivityIndicator busy="{{_isLoading}}" width="100" height="100"-->
<!--						   class="activity-indicator"></ActivityIndicator>-->
		<Gif *ngIf="_isLoading" row="0" col="0" src="https://www.vmgsoftware.co.za/img/VMG-Mobile-Load.gif" height="200" width="200"></Gif>

		<Label *ngIf="_isLoadingData"
			   class="page-placeholder"
			   text="Setting up Transunion Connection ..."
			   row="1"></Label>

		<Label *ngIf="_isLoadingPrices"
			   class="page-placeholder"
			   text="Getting vehicle trade and retail prices ..."
			   row="1"></Label>
	</div>
	<CardView class="cardStyle" margin="10" elevation="20" ios:radius="8" android:radius="40">
		<grid-layout rows="*, 80" *ngIf="!_isLoading">


				<ScrollView height="100%" scrollBarIndicatorVisible="false">
					<StackLayout orientation="vertical" class="form-padding" row="0">
						<Label row="0" textWrap="true" text="Search vehicle price on transunion by completing the fields below"
							   class=" m-l-10 subheader"
							   textAlignment="center" marginTop="10px"
							   textAlignment="center"
							   style="text-align:center; color: black"
							   width="100%"
							   fontSize="16"></Label>

						<FloatLabel placeholder="Year (tap to select)" [isEditable]="false" [(text)]="car.year" (tap)="changeYear()"></FloatLabel>
						<FloatLabel placeholder="Category (tap to select)" [isEditable]="false" [(text)]="car.category" (tap)="changeCategory()"></FloatLabel>
						<FloatLabel placeholder="Make (tap to select)" [isEditable]="false" [(text)]="car.make" (tap)="changeMake()"></FloatLabel>
						<FloatLabel placeholder="Model Description (tap to select)" [isEditable]="false" [(text)]="car.masterModel" (tap)="changeModel()"></FloatLabel>
						<FloatLabel placeholder="Model (tap to select)" [isEditable]="false" [(text)]="car.variant" (tap)="changeVariant()"></FloatLabel>
						<FloatLabel placeholder="KM" [isEditable]="canEditKM" [(text)]="car.km" keyboardNumberFormat="number" (tap)="kmFieldSelected()"></FloatLabel>
					</StackLayout>

				</ScrollView>
			<AbsoluteLayout class="form-padding" row="1" marginBottom="30px">
				<StackLayout row="0" width="100%" height="100%" style="border-color: #448744; border-width: 6px; border-radius: 25px;"
							 verticalAlignment="middle">
					<GridLayout rows="auto, auto" columns="auto, auto" verticalAlignment="center" horizontalAlignment="center">
						<Label
							text="TRADE PRICE: "
							class="price-label"
							row="0"
							col="0"></Label>
						<Label
							[text]="vehicleTradePrice | currency:'R':'symbol':'1.0-2' | space"
							class="price-label"
							horizontalAlignment="right"
							row="0"
							col="1"></Label>
						<Label
							text="RETAIL PRICE: "
							class="price-label"
							row="1"
							col="0"></Label>
						<Label
							[text]="vehicleRetailPrice | currency:'R':'symbol':'1.0-2' | space"
							class="price-label"
							horizontalAlignment="right"
							row="1"
							col="1"></Label>

					</GridLayout>
				</StackLayout>

				<StackLayout *ngIf="showRetrievePriceOverlay" row="1" style="border: none; border-radius: 25px;"  class="price-overlay" width="100%" height="100%" >
					<GridLayout verticalAlignment="center" horizontalAlignment="center" (tap)="getVehiclePrices()">
						<Label
							text="GET PRICES"
							class="retrieve-price-overlay-label"
							row="1"
							col="1"></Label>
					</GridLayout>
				</StackLayout>


			</AbsoluteLayout>
		</grid-layout>
	</CardView>


</StackLayout>
</GridLayout>
	<FilterableListpicker #vehicleDetailsFilter blur="dark" hintText="Type to filter..." [source]="listItems" (itemTapped)="vehicleDetailsFilterSelected($event)"></FilterableListpicker>
	<FilterableListpicker #modelDetailsFilter blur="dark" hintText="Type to filter..." [source]="listItems"
						  (itemTapped)="vehicleDetailsFilterSelected($event)"></FilterableListpicker>
</GridLayout>





