.transunion-banner-image {
	background-image: url('~/images/transunion-banner-image.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 150;
	height: 150;
	background-color: #ffffff;
	border-color: #448744;
	border-width: 6px;
}

.price-label{
	color: #448744;
	font-size: 20px;
	font-weight: bold;
	z-index: -1;
	margin-top: 5vw;
}

.retrieve-price-overlay-label{
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10vw;
	font-family: Verdana, sans-serif;
}

.price-overlay{
	background-color: #448744;
	z-index: 1000;
}
