// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
	font-family: "FontAwesome";
}

// Common page class
.page-content {
	.loader-text {
		font-weight: bold;
		vertical-align: center;
		horizontal-align: center;
	}

	.page-placeholder {
		color: $page-icon-color;
		font-size: $page-content-placeholder-font-size;
		vertical-align: center;
		horizontal-align: center;
	}

	.warning-text {
		color: #000000;
		font-size: $page-content-placeholder-font-size;
		font-weight: bold;
		vertical-align: center;
		horizontal-align: center;
	}

	.page-icon {
		font-size: 72;
		vertical-align: top;
		horizontal-align: center;
		color: $page-icon-color;
		margin-top: 20%;
	}
}

//Action bar
ActionBar .action-bar-title {
	horizontal-align: center;
}

// Drawer navigation custom styles
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 20;
$sidedrawer-header-image-offset-bottom: 5;
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
	&.sidedrawer-left {
		background-color: $ab-background;

		.sidedrawer-header-image {
			color: $background-dark;
			height: $sidedrawer-header-image-size;
			width: $sidedrawer-header-image-size;
			font-size: $sidedrawer-header-image-size;
			padding: 0;
			margin-bottom: $sidedrawer-header-image-offset-bottom;
			margin-top: $sidedrawer-header-image-offset-top;
		}

		.footnote {
			color: rgba($ab-color, 0.5);
		}
	}

	.sidedrawer-header {
		background-color: $ab-background;

		.sidedrawer-header-brand {
			color: $ab-color;
		}
	}

	.sidedrawer-content {
		background-color: $side-drawer-background;

		$sidedrawer-list-item-offset-left: 15;
		$sidedrawer-list-icon-offset: 10;
		$sidedrawer-list-icon-size: 20;

		.sidedrawer-list-item {
			padding-left: $sidedrawer-list-item-offset-left;

			Label {
				vertical-align: center;
				color: $blue-dark;
			}

			.fa {
				width: $sidedrawer-list-icon-size;
				margin-right: $sidedrawer-list-icon-offset;
			}

			&.selected {
				background-color: $item-active-background;

				Label {
					color: $item-active-color;
				}
			}
		}
	}
}

.padding-left-5 {
	padding-left: 5px !important;
}

.padding-right-5 {
	padding-right: 5px !important;
}

.margin-left-5 {
	margin-left: 5px !important;
}

.margin-right-5 {
	margin-right: 5px !important;
}

.rounded-corners {
	border-radius: 30px;
}

.scanner-home-button {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-color: #448744;
	border-width: 6px;
}

.showroom-home-button {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 60%;
	height: 100%;
	background-color: #ffffff;
	border-color: #448744;
	border-width: 6px;
}

.leads-home-button {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-color: #448744;
	border-width: 6px;
}


.transunion-home-button {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-color: #448744;
	border-width: 6px;
}

.support-home-button {
	text-transform: capitalize;
	font-family: Arial, sans-serif;
	font-size: 26px;
	color: #434343;
	background-color: #ffffff;
	border-color: #448744;
	border-width: 6px;
	width: 100%;
	height: 100%;
}

.filterTextBox {
	border-radius: 25px;
	padding: 20px;
	border-color:#448744;
	border-width:10px;
	position: relative;
}

.filterTextBoxLabel{
	position: absolute;
	top: 0;
	margin-right: 30px;
}

.badge {
	margin: 0 -10vw 0 0;
	width: 40;
	height: 40;
	border-color: #448744;
	border-width: 1;
	border-radius: 75%;
	background-color: #448744;
	z-index: 100;
}

.badge-text {
	margin: 2 0 0 0;
	font-size: 12;
	color: white;
	font-weight: bold;
	vertical-align: center;
	horizontal-align: center;
	padding: 5;
	padding-top: 8;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.home-screen-tiles {
}

.light-grey-background {
	background-color: #F0F0F0;
}


.dialogOpen .content {
	opacity: 0.2;
}
.dialogOpen .dialog-wrapper {
	visibility: visible;
}
.dialog-wrapper {
	visibility: collapse;
}
.dialog {
	width: 100%;
	margin-top: 150;
	background-color: #ffffff;
	border-color: #448744;
	border-width: 6px;
}


.cardStyle {
	background-color: #F5F5F6;
	color: black;
}

.cardContent {
	//font-weight: bold;
	//font-size: 30;
}


/*
FILTER LIST PICKER :
 */

.flp-container .flp-list-container {
	border-radius: 5px;
}
.flp-container .flp-list-container .flp-listview {
	background-color: white;
	font-size: 16;
}

.flp-container .flp-list-container .flp-listview .flp-row {
	padding: 10;
	background-color: white;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-row-container {
  padding: 10;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-image {
	margin: 10 0 10 5;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container {
	//padding: 10;
	margin: 10 10 10 5;
	/* margin: 0 10 0 10; */
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-title {
	font-weight: bold;
	font-size: 16;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-description {
	color: gray;
	font-size: 16;
	padding: 10;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-no-title {
	margin-left: 15;
	padding: 10 0;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-item-selected {
	color: lightblue;
}

.flp-container .flp-hint-field {
	padding: 10 15;
	height: 40;
	background-color: #E0E0E0;
	border-radius: 10px 10px 0 0;
}

.flp-container .flp-cancel-container {
	background-color: #E0E0E0;
	height: 40;
	border-radius: 0 0 10px 10px;
}

.flp-container .flp-cancel-container .flp-btn-cancel {
	font-weight: bold;
	height: 40;
	background-color: #448744;
	border-color: #448744;
	border-width: 1;
	font-size: 12;
	color: #ffffff;
	border-radius: 0 0 10px 10px;
}

.text-label {
	font-weight: bold;
	font-size: 16px;
	color: #448744;
}

.subheader{
	font-weight: bold;
	font-size: 16px;
}

.background {
	background-color: #E1E2E1;
	background-size: 100% 100%;
}


