// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar .fa {
    padding: 40px;
}

TextField {
	font-size: 16px;
	border-bottom-width: 2;
	border-bottom-color: #808080;
}

.form-padding {
	margin: 0 10vw;
}

.search-field-container {
	padding : 10vw
}

.min-height {
	min-height: 50vw;
}

.side-menu-text-size-android{
	font-size: 16px;
}
