// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on iOS here
ActionBar .fa {
    padding: 40px 40px 40px 0;
}

TextField {
	font-size: 16px;
	border-bottom-width: 2;
	border-bottom-color: #808080;
	padding: 30px 0;
}

.grey-text {
	color: #808080;
}

.form-padding {
	margin: 0 10vw;
}

.search-field-container {
	padding : 20px
}

.min-height {
	min-height: 100px;
}

.no-padding-top-no-padding-bottom {
	padding-top: 0px !important;
	padding-bottom: 0px!important;
}
