<ActionBar class="action-bar">
	<!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
	<NavigationButton ios:visibility="collapsed" icon="res://menu" [disabable]="_sharedService.loading"
					  (tap)="onDrawerButtonTap()" style="font-family: FontAwesome;" *ngIf="!(needToLogIn) && !(_sharedService.homeLoading)"></NavigationButton>
	<!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
	<ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
				ios.position="left" *ngIf="!(needToLogIn) && !(_sharedService.homeLoading)">
	</ActionItem>
	<Label class="action-bar-title" text="Welcome to VMG Mobile"></Label>
</ActionBar>
<ScrollView>

	<GridLayout class="page" actionBarHidden="true">
		<GridLayout class="content" style="margin-top: 30vw" >
			<StackLayout orientation="vertical" >
				<Gif *ngIf="(needToLogIn)"  src="https://www.vmgsoftware.co.za/img/VMG-Mobile-Load.gif" height="200vw" width="200vw" ></Gif>
				<Label *ngIf="!(needToLogIn)" text="Welcome {{userEmail}} " horizontalAlignment="center"
					   style="font-size: 20px;"></Label>
				<Label *ngIf="!(needToLogIn)" text="{{companyName}}" horizontalAlignment="center"
					   style="font-size: 22px; font-weight: bold; "></Label>

				<ActivityIndicator *ngIf="_sharedService.homeLoading" #activityIndicator busy="{{_sharedService.homeLoading}}" width="100" height="100"
								   class="activity-indicator"></ActivityIndicator>

				<GridLayout *ngIf="needToLogIn && !(_sharedService.homeLoading)" rows="*, 120, 60" class="p-20">
					<StackLayout class="m-20" row="0">
						<FloatLabel placeholder="Username" [(text)]="email"></FloatLabel>
						<FloatLabel placeholder="Password" secure="true" [showPasswordIcon]="true" [(text)]="password"></FloatLabel>
					</StackLayout>

					<Button class="btn btn-primary btn-active" text="&#xf023; LOGIN" (tap)="submit()"
							height="60"
							row="1"
							style="font-family: FontAwesome; border-radius: 15px; margin-top: 80px"></Button>
					<Label text="Forgot your password?"
						   row="2"
						   verticalAlignment="top"
						   horizontalAlignment="center"
						   (tap)="forgotPassword()"></Label>

				</GridLayout>

				<GridLayout
					*ngIf="!(needToLogIn) && !(_sharedService.homeLoading)"
					rows="*, 5, *, *"
					columns="20, *, 20,  *, 20"
					class="home-screen-tiles" style="margin-top: 30vw">
					<Image (tap)="navToShowroom()" src="~/images/showroom.png"  class="btn btn-primary rounded-corners showroom-home-button" [ngStyle]="{'background-color': showroomTapped ? '#F0F0F0' :
					'#ffffff' }"
							row="0"
							col="1"></Image>


					<stack-layout class="badge" row="0" col="1" horizontalAlignment="right" verticalAlignment="top" *ngIf="_sharedService.totalVehicles > 0">
						<label text="{{_sharedService.totalVehicles}}" class="badge-text"></label>
					</stack-layout>

					<Image (tap)="navToCrm()" src="~/images/leads.png" class="btn btn-primary rounded-corners leads-home-button" [ngStyle]="{'background-color': leadsTapped ? '#F0F0F0' :
					'#ffffff' }"
							row="0"
							col="3"></Image>


					<stack-layout class="badge" row="0" col="3" horizontalAlignment="right" verticalAlignment="top" *ngIf="_sharedService.totalLeads > 0">
						<label text="{{_sharedService.totalLeads}}" class="badge-text"></label>
					</stack-layout>

					<Image (tap)="navToScanner()" src="~/images/scanner.png" class="btn btn-primary rounded-corners scanner-home-button" [ngStyle]="{'background-color': scannerTapped ? '#F0F0F0' :
					'#ffffff' }"
							row="2"
							col="1"></Image>

					<Image (tap)="navToTu()" src="~/images/transunionSearch.png"
							class="btn btn-primary  rounded-corners transunion-home-button" row="2" [ngStyle]="{'background-color': tuTapped ? '#F0F0F0' :
					'#ffffff' }"
							col="3"></Image>

					<Button row="3" col="1" colSpan="3" text="&#xf025; Support" (tap)="navToSupport()"
							class="fa rounded-corners btn btn-primary support-home-button" [ngStyle]="{'background-color': supportTapped ? '#F0F0F0' :
					'#ffffff' }"
							style="font-family: FontAwesome;"></Button>
				</GridLayout>

				<stack-layout *ngIf="!(needToLogIn) && !(_sharedService.homeLoading)" horizontalAlignment="center" verticalAlignment="bottom">
					<label color="black" text="{{version}}"></label>
				</stack-layout>

				<Label *ngIf="_sharedService.homeLoading" textWrap="true" class="warning-text" text="Warning :"></Label>
				<Label *ngIf="_sharedService.homeLoading" textWrap="true" class="warning-text" text="Do not close or minimise app."></Label>
				<Label *ngIf="_sharedService.homeLoading" class="page-placeholder" text="Initialising Database."></Label>
				<Label *ngIf="_sharedService.homeLoading" class="page-placeholder"
					   text="This might take a few minutes."></Label>
			</StackLayout>
			<GridLayout verticalAlignment="bottom" horizontalAlignment="center" marginBottom="10">
				<Label *ngIf="needToLogIn && !(_sharedService.homeLoading)" text="Need help? Visit support."
					   (tap)="navToSupport()"></Label>
			</GridLayout>

		</GridLayout>
	</GridLayout>
</ScrollView>
